<div class="background justify_content_center block_column">
    <div class="services_container">
    <p class="title_services">Услуга</p>
    <h6>Аналитика и исследования рынка недвижимости</h6>
    <p>Одним из наиболее популярных и востребованных направлений деятельности является исследование рынка во всех сегментах: анализ рынка жилой, курортной недвижимости, анализ рынка офисной недвижимости, анализ рынка коммерческой недвижимости и других. Маркетинговые исследования и обзоры рынков недвижимости в консалтинговой компании MACON составляются с использованием новейших количественных и качественных методик, собственных методологических разработок и современного программного обеспечения. Мы располагаем собственным уникальным инструментарием среднесрочного и долгосрочного прогнозирования рыночной ситуации, который основан на расчетах коэффициентов поглощения, анализе баланса будущего спроса и предложения с применением нескольких сценариев развития ситуации.</p>
    <div><a asp-action="Bid" asp-controller="User">ОСТАВИТЬ ЗАЯВКУ</a></div>
 </div>
</div>
