<div class="background justify_content_center block_column">
<div class="services_container">
    <p class="title_services">Услуга</p>
    <h6>Бизнес-планирование девелоперских проектов</h6>
    <p>Консультанты компании MACON имеют опыт подготовки бизнес-планов для банковских и других кредитных учреждений, потенциальных партнеров и инвесторов. Наши работы были отмечены практически во всех банках страны, а название компании находится "на слуху" у крупных игроков рынка недвижимости. На основе подготовленных бизнес-планов клиенты компании получили проектное финансирование в крупнейших банках страны объемом до 100 млн. долларов США. Консалтинговая компания MACON имеет опыт привлечения банковского финансирования в странах Европейского Союза. В таких проектах компания выступает в партнерстве с европейскими консультантами, а бизнес-план готовится объединенной экспертной командой.</p>
    <div><a asp-action="Bid" asp-controller="User">ОСТАВИТЬ ЗАЯВКУ</a></div>
</div>
</div>