<div class="background justify_content_center block_column">
    <div class="services_container">
        <p class="title_services">Услуга</p>
        <h6>Стратегический консалтинг в сфере девелопмента</h6>
        <p>Стратегический консалтинг является эксклюзивной услугой, состав которой всегда уникален. Общая черта для всех подобных проектов – глубокое погружение и высокая степень интеграции в бизнес наших клиентов. Консалтинговая компания MACON является стратегическим партнером ряда девелоперских компаний. Взаимодействие охватывает целый круг вопросов, связанных с реализацией строительных проектов: исследования и аналитика, разработка концепций, архитектурное сопровождение, разработка стратегии продвижения и другие. Аналитики MACON участвуют в разработке стратегии дальнейшего развития компаний клиентов, оценивая перспективы развития рынков жилой недвижимости крупнейших городов России и стран СНГ.</p>
        <div><a asp-action="Bid" asp-controller="User">ОСТАВИТЬ ЗАЯВКУ</a></div>
    </div>
</div>

