<div class="background justify_content_center block_column">
    <div class="services_container">
        <p class="title_services">Услуга</p>
        <h6>Бизнес-тренинги по недвижимости</h6>
        <p>Для достижения успеха в инвестиционно-строительной деятельности необходимо четко определять текущую ситуацию на рынке недвижимости, оценивать потенциал объекта и рынка, а также выявлять основные риски девелопмента. На тренингах, которые ведут эксперты MACON, представлены и разобраны лучшие девелоперские практики в выбранном сегменте недвижимости.</p>
        <div><a asp-action="Bid" asp-controller="User">ОСТАВИТЬ ЗАЯВКУ</a></div>
    </div>
</div>
