@model IEnumerable<ИС_Консалтинг.Models.Bid>
    <div class="block_column back justify_content_center align_items_center block_manager">
        <h2>Необработанные заявки</h2>
        <table>
            <tr>
                <th>ФИО</th>
                <th>Email</th>
                <th>Услуга</th>
                <th>Действие</th>
            </tr>
            @foreach (var bid in Model)
            {
                if (bid.active == true)
                {
                <tr>
                    <td>@bid.user.Name</td>
                    <td>@bid.user.Email</td>
                    <td>@bid.service</td>
                    <td class="td_but">
                        <form asp-controller="Manager" asp-action="Client_Response_Bid" asp-route-id="@bid.Id" method="get">
                            <input type="submit" value="&#128736; Связаться"/>
                        </form>
                    </td>
                </tr>
                }
            }
        </table>
        </div>
