.form_bid {
    min-height:60%;
    max-width: 60%;
    min-width: 20%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}
.form_parameters select {
    outline: none;
    border: 1px solid #bcda5c;
    width:70%;
    border-radius:15px;
    padding:5px;
    margin:15px 0px;
}
