main{
    width:100%;
}
.background{
    background: url(../image/imgHome/home_back.png) center no-repeat;
    background-size:cover;
    height:590px;
}
.background h1{
    color:white;
    font-size:30px;
    margin-bottom:20px;
}
.background p {
        color: white;
        font-size: 16px;
        text-align:center;
}
    .background a{
        margin-top:35px;
        color: white;
        font-size: 16px;
        padding: 15px;
        background: #99c50a;
        border-radius:5px;
        font-weight:bold;
    }
    .background a:hover{
        opacity:80%;
    }
.block_about_us {
    width: 40%;
    margin: 80px 0px 80px 150px;

}
    .block_about_us h6{
        font-size:32px;
    }
    .block_about_us p{
        text-align:left;
        margin-top:20px;
        font-size:14px;
        font-style:italic;
    }
    .image_services{
        width:360px;
        height:180px;
    }
    .block_services{
        flex-wrap:wrap;
    }
    .image_services:hover{
        opacity:80%;
    }

@media screen and (max-width:1100px){
    .background h1 {
        font-size: 20px;
    }

    .background p {
        font-size: 12px;
    }
}

@media screen and (max-width:600px) {
    .background h1 {
        font-size: 16px;
    }

    .background p {
        font-size: 10px;
    }
}