* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
}

button {
    cursor: pointer;
    border:0px;
}

a {
    text-decoration: none;
}

button:hover {
    opacity: 80%;
}

.block_row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.block_column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.justify_content_spaceAround {
    justify-content: space-around;
}

.align_items_center {
    align-items: center;
}

.justify_content_center {
    justify-content: center;
}
main{
    animation: show 1s;
}
.view_bag{
    font-weight:normal;
    font-size:10px;
    color:black;
    align-self:center;
}

@keyframes show {

    from {
        opacity: 0.6;
    }

    to {
        opacity: 1;
    }
}
