@model ИС_Консалтинг.Models.Support
<div class="block_column back justify_content_center align_items_center">
    <form class="form_sup" asp-action="Support" asp-controller="User" method="post">
        <div class="block_column">
            <div class="div_title">Поддержка</div>
            <div class="block_column form_parameters">
                <p>Возник вопрос?</p>
                <textarea asp-for="SMS" placeholder="Задайте нам вопрос"></textarea>
                <div style="margin-bottom: 10px;"><span style="font-size: 12px; color: red;" asp-validation-for="SMS"></span></div>
                <button>Отправить</button>
                <div class="view_bag">@ViewBag.Message</div>
            </div>
        </div>
    </form>
</div>


<div class="block_column justify_content_spaceAround block_column_adaptive">
    <div class="block_column align_items_center justify_content_center" style="height:auto;">
        <img src="../image/img_actions/logo_actions.png" alt="Alternate Text" />
        <h6 class="h6_heading">Как это работает?</h6>
    </div>
    <div style="height:auto;" class="block_row justify_content_spaceAround align_items_center block_adaptive">
        <div class="block_column justify_content_center align_items_center child_block">
            <p class="p_obvodka">1</p>
            <p class="p_heading">Напишите вопрос</p>
            <p class="p_description">Введите в указанное поле свой вопрос. В ближайщее время на него ответит менеджер</p>
        </div>
        <div class="block_column justify_content_center align_items_center child_block">
            <p class="p_obvodka">2</p>
            <p class="p_heading">Проверяйте почту</p>
            <p class="p_description">Ответ менеджера на ваш вопрос придет к вам на электронную почту</p>
        </div>
        <div class="block_column justify_content_center align_items_center child_block">
            <p class="p_obvodka">3</p>
            <p class="p_heading">Ответ менеджера</p>
            <p class="p_description">Ответ менеджера придет к вам на почту в течении двух часов</p>
        </div>
    </div>
</div>
