<div class="block_column background justify_content_center align_items_center">
    <h1>Консалтинговая компания - &laquo;MACON&raquo;</h1>
    <p>16 лет на рынке консалтинговых услуг в сфере недвижимости</p>
    <p>850 консалтинговых и исследовательских проектов в 150 российских и 5 зарубежных городах</p>
    <a asp-action="Bid" asp-controller="User">Оставить заявку</a>
</div>
<div style="background-color: #f9fafa;" class="block_column">
<div class="block_column block_about_us">
    <h6>О нас</h6>
    <p>Лидирующая компания в области стратегического консалтинга на рынке недвижимости России и один из самых успешных региональных консультантов в стране. С 2014 года компания является эксклюзивным представителем Российской Федерации в Восточно-Европейской Ассоциации Прогнозирования Строительства EECFA.</p>
    <p>Эксперты компаний решают комплекс задач по развитию девелоперских проектов: от проведения маркетинговых исследований в области недвижимости, разработки концепций застройки и бизнес-планирования до организации продаж и комплексного продвижения объектов на рынке. Одна из основных специализаций консалтинговой компании МАCON - это развитие крупных территорий.</p>
    <p>За 15 лет работы консультанты МАCON рeализовали более 850 исследовательских и консалтинговых проектов в 150 российских и 5 зарубежных городах. Эксперты совместно с клиентами подготовили стратегии развития земельных активов общей площадью более 18 000 га.</p>
    <p>Компания МАСON pаботает во всех сегментах рынка недвижимости: жилом, офисном, складском, торговом, гостиничном и курортном. Систематические исследования и разработки МАCON образуют колоссальный интеллектуальный капитал в области оценки и прогнозирования развития региональных рынков недвижимости.</p>
</div>
<h2 style="align-self:center; font-size:32px;">Наши услуги</h2>
<div style="margin:30px 0px;" class="block_row justify_content_spaceAround block_services">
    <a asp-action="Analitics" asp-controller="Services"><img class="image_services" src="../image/imgServices/Analitics.png" alt="Alternate Text" /></a>
    <a asp-action="Planning" asp-controller="Services"><img class="image_services" src="../image/imgServices/Planning.png" alt="Alternate Text" /></a>
    <a asp-action="Strategy" asp-controller="Services"><img class="image_services" src="../image/imgServices/Strategy.png" alt="Alternate Text" /></a>
    <a asp-action="Training" asp-controller="Services"><img class="image_services" src="../image/imgServices/Training.png" alt="Alternate Text" /></a>
</div>
</div>